extends ../layouts/layout

block content
  h1 Login Page
  p Say something worthwhile here.
  br
  form(role='form', action="/login",method="post", style='max-width: 300px;')
    input(type='text', name="username", placeholder='Enter Username')
    input(type='password', name="password", placeholder='Password')
    button(type='submit') Submit
    &nbsp;
    a(href='/')
      button(type="button") Cancel