doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    block content

    script(src="/js/main.js")