body {
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 10px;
}

p, a, th, td, li, h1, h2, h3, h4, h5, h6 {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
  color: lighten(#333333, 25%);
}

p, a {
  font-size: 13px;
  line-height: 0.01em;
}

a {
  color: steelblue;
}

a:active {
  color: cyan;
}

a:visited {
  color: hotpink;
}