p You are currently logged in as #{user.username} with the role of User.
br
p#counter-value 0
button#counterIncrease(onClick='incrimentCounter()') Incriment Counter
button#counterDecrease(onClick='decrimentCounter()') Decremient Counter
br
a(href="/logout")
    button Logout