extends ../layouts/layout

block content
  if (!user)
    a(href="/login")
      button Login
    a(href="/register")
      button Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") 
      button Logout