button {
    font: 14px Helvetica, Arial, sans-serif;
    background: whitesmoke;
    color: grey;
    margin: 5px 5px 5px 0px;
    padding: 10px;
    border: none;
    border-radius: 0px;
}
button:focus {
    outline: none;
    border: 1px solid;
    border-color: grey !important;
    border-radius: 0px;
}