table {
    padding: 0;
    margin: 0;
    width: 100%;
    tr {
        padding: 10px;
        th {
            letter-spacing: 0.1em;
            padding: 6px;
            background: darken(whitesmoke, 5%);
            color: #333333;
        }
        td {
            letter-spacing: 0.05em;
            background: whitesmoke;
            margin: 0 auto;
            padding: 5px;
            text-align: center;
        }
    }
    tr:hover {
        background: darken(whitesmoke, 10%);
        td {
            background: darken(whitesmoke, 1%);
        }
    }
    tr:focus {
        outline: none;
        border: 1px solid;
        border-color: grey !important;
        border-radius: 0px;
    }
}